<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Analysis with GPT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Code Analysis with GPT</h1>
        <form action="/add" method="POST">
            {{ form.csrf_token }}
            {{ form.repo_url.label }} {{ form.repo_url(class="form-control") }}
            {{ form.username.label }} {{ form.username(class="form-control") }}
            {{ form.password.label }} {{ form.password(class="form-control") }}
            {{ form.file_suffix.label }} {{ form.file_suffix(class="form-control") }}
            {{ form.submit(class="btn btn-primary mt-4") }}
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.12.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</body>
</html>
