<!DOCTYPE html>
<html>
<head>
    <title>Willkommen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Willkommen</h1>
        <form method="POST">
            {{ form.csrf_token }}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Größe</th>
                        <th>Datum</th>
                        <th>Auswählen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in form.apps %}
                    <tr>
                        <td>{{ app.name }}</td>
                        <td>{{ app.size }} bytes</td>
                        <td>{{ app.date }}</td>
                        <td><a href="{{ url_for('useapp', app=app.name) }}" class="btn btn-primary">Select Model</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <a href="{{ url_for('add') }}" class="btn btn-secondary mt-2">Neue App erstellen</a>
    </div>
</body>
</html>
