{% extends "base.html" %}

{% block content %}
    <h2>Processing...</h2>
    <div id="progress-container">
        <div id="progress"></div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script>
        const socket = io.connect(window.location.origin);

        socket.on("progress", function(message) {
            const progress = document.getElementById("progress");
            const p = document.createElement("p");
            p.textContent = message;
            progress.appendChild(p);
        });
    </script>
{% endblock %}
