{% extends "base.html" %}

{% block content %}
    <h2>Analysis Results</h2>
    <h3>Summary:</h3>
    <p>{{ gpt_result.summary }}</p>
    
    <h3>External Dependencies:</h3>
    <table>
        <tr>
            <th>Dependency</th>
            <th>Type</th>
        </tr>
        {% for dep in gpt_result.dependencies %}
        <tr>
            <td>{{ dep.name }}</td>
            <td>{{ dep.type }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h3>Mermaid Diagram Description:</h3>
    <pre>{{ gpt_result.mermaid_description }}</pre>
    
    <h3>Top 5 Performance Suggestions:</h3>
    <ol>
        {% for suggestion in gpt_result.performance_suggestions %}
        <li>{{ suggestion }}</li>
        {% endfor %}
    </ol>

    <h3>Top 5 Security Suggestions:</h3>
    <ol>
        {% for suggestion in gpt_result.security_suggestions %}
        <li>{{ suggestion }}</li>
        {% endfor %}
    </ol>

    <h3>Top 5 Containerization Suggestions:</h3>
    <ol>
        {% for suggestion in gpt_result.containerization_suggestions %}
        <li>{{ suggestion }}</li>
        {% endfor %}
    </ol>
{% endblock %}
